<h1>Employee Data</h1>

<p>This component demonstrates fetching Employee data from the server.</p>

<p *ngIf="!empList"><em>Loading...</em></p>

<p>
    <a class="btn btn-success" [routerLink]="['/employee/register']">Create New</a>
</p>
<div *ngIf="empList.length != 0; then rexist else noexist"></div>

<ng-template #rexist>

<table class='table' *ngIf="empList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empList">
            <td>{{ emp.fullname }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.status }}</td>
            <td>
                <a class="btn btn-info" [routerLink]="['/employee/edit/', emp.id]">Edit</a> 
                <a class="btn btn-danger" [routerLink]="" (click)="delete(emp.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</ng-template>
<ng-template #noexist><h2>No records.</h2></ng-template>