Open fetchemployee.component.html file and put the following code into it.
<h1>Company Data</h1>  
  
<p>This component demonstrates fetching Employee data from the server.</p>  
  
<p *ngIf="!companyList"><em>Loading...</em></p>  
  
<p>  
    <a class="btn btn-success" [routerLink]="['/company/register']">Create New</a>  
</p>  

<div *ngIf="companyList.length != 0; then rexist else noexist"></div>

<ng-template #rexist>
<table class='table' *ngIf="companyList.length != 0">  
    
    <thead>  
        <tr>    
            <th>Name</th>  
            <th>CEO Name</th>  
            <th>Email</th>  
            <th>Phone</th>  
            <th>Website</th>  
            <th>Status</th> 
            <th>Actions</th> 
        </tr>  
</thead>  
<tbody>  
    <tr *ngFor="let obj of companyList">  
        <td>{{ obj.name }}</td>  
        <td>{{ obj.ceoname }}</td>  
        <td>{{ obj.email }}</td>  
        <td>{{ obj.phone }}</td>  
        <td>{{ obj.website }}</td>  
        <td>{{ obj.status }}</td>  
        <td>  
        <td>  
            <a [routerLink]="['/company/edit/', obj.id]">Edit</a> |  
            <a [routerLink]="" (click)="delete(obj.id)">Delete</a>  
        </td>  
    </tr>  
</tbody>  
</table>
</ng-template>
<ng-template #noexist><h2>No records.</h2></ng-template>