Open fetchemployee.component.html file and put the following code into it.
<h1>Company Data</h1>  
  
<p>This component demonstrates fetching Employee data from the server.</p>  
  
<p *ngIf="!empList"><em>Loading...</em></p>  
  
<p>  
    <a [routerLink]="['/register-employee']">Create New</a>  
</p>  
  
<table class='table' *ngIf="empList">  
    <thead>  
        <tr>    
            <th>Name</th>  
            <th>CEO Name</th>  
            <th>Email</th>  
            <th>Phone</th>  
            <th>Website</th>  
            <th>Status</th>  
        </tr>  
</thead>  
<tbody>  
    <tr *ngFor="let obj of objList">  
        <td>{{ obj.name }}</td>  
        <td>{{ obj.ceoname }}</td>  
        <td>{{ obj.email }}</td>  
        <td>{{ obj.phone }}</td>  
        <td>{{ obj.website }}</td>  
        <td>{{ obj.status }}</td>  
        <td>  
        <td>  
            <a [routerLink]="['/company/edit/', obj.CompanyId]">Edit</a> |  
            <a [routerLink]="" (click)="delete(obj.CompanyId)">Delete</a>  
        </td>  
    </tr>  
</tbody>  
</table>