<h1>{{title}}</h1>
<h3>Register a Company</h3>
<hr />

<form [formGroup]="companyForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

    <div class="form-group row">
        <label class=" control-label col-md-12">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="name">
        </div>
        <span class="text-danger" *ngIf="name?.invalid && formDir.submitted">
            Name is required.
        </span>
    </div>
    <div class="form-group row">
      <label class=" control-label col-md-12">CEO Name</label>
      <div class="col-md-4">
          <input class="form-control" type="text" formControlName="ceoname">
      </div>
      <span class="text-danger" *ngIf="ceoname?.invalid && formDir.submitted">
          CEO Name is required.
      </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Website</label>
    <div class="col-md-4">
        <input class="form-control" type="text" formControlName="website">
    </div>
    <span class="text-danger" *ngIf="website?.invalid && formDir.submitted">
        Website is required.
    </span>
</div>
<div class="form-group row">
  <label class=" control-label col-md-12">Email</label>
  <div class="col-md-4">
      <input class="form-control" type="text" formControlName="email">
  </div>
  <span class="text-danger" *ngIf="email?.invalid && formDir.submitted">
      Email is required.
  </span>
</div>
<div class="form-group row">
  <label class=" control-label col-md-12">Phone</label>
  <div class="col-md-4">
      <input class="form-control" type="text" formControlName="phone">
  </div>
  <span class="text-danger" *ngIf="phone?.invalid && formDir.submitted">
      Name is required.
  </span>
</div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Status">Select Status</label>
        <div class="col-md-4">
            <select class="form-control" data-val="true" formControlName="status" [ngModel]="caseSensitive">
                <option [ngValue]="true">Active</option>
                <option [ngValue]="false">Inactive</option>
            </select>
        </div>
        <span class="text-danger" *ngIf="status?.invalid && formDir.submitted">
            Status is required
        </span>
    </div>
    <hr />
    <div class="form-group">
        <button type="submit" class=" btn btn-primary">Save</button>
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>